body{
background-color: grey;
font-family: Comic Sans MS, Helvetica, Verdana, sans-serif;

}
h1{
font-size: 60pt;
color: green;
text-transform: uppercase;
text-decoration-line:overline;
text-decoration-style:dashed;
}
table{
  width: 100%;
  color: red;
  background-color: yellow;
  font-size: 25pt;
  font-style: comic;
}
td{
  border: 2px solid black;

}
th{
  border: 5px solid red;
  background-color: blue;
}
th#miejsce{
  width: 50%
}
th#cena{
  width: 30%
}
